PROJECT_NAME=ApplyStack
VERSION=0.1.0
ENVIRONMENT=local
DEBUG=true

API_V1_PREFIX=/api/v1

POSTGRES_USER=applystack
POSTGRES_PASSWORD=applystack
POSTGRES_DB=applystack

POSTGRES_HOST_PORT=5433
API_HOST_PORT=8000

DATABASE_URL=postgresql+asyncpg://applystack:applystack@localhost:5433/applystack

# change this to false in your .env file if you dont wanna see all the SQL queries in the console.
SQL_ECHO=True
